<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Pandas for Exploratory Data Analysis: Joining Data

_Authors: Kevin Markham (DC)_

In [1]:
import pandas as pd

In [2]:
DATA_DIR = 'C:/Users/Ashley/Desktop/General_Assembly/Lessons/exploratory_data_analysis_in_pandas-master/assets/data'

## Concatenating DataFrames

Concatenate sticks dataframes together, either on top of each other or next to each other.

In [3]:
# Define a DataFrame
df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df1.head()

  letter  number
0      a       1
1      b       2

In [5]:
# Define a second DataFrame
df2 = pd.DataFrame([['c', 3], ['d', 4]], columns=['letter', 'number'])
df2.head()

  letter  number
0      c       3
1      d       4

In [12]:
# Stick the dataframes on top of each other
pd.concat([df1,df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [14]:
# Stick the dataframes next to each other.
pd.concat([df1,df2],axis = 'columns')

  letter  number letter  number
0      a       1      c       3
1      b       2      d       4

## Joining (Merging) DataFrames

### Example

"Tidy data" is data that is organized as follows:

- One variable per column
- One observation per row
- One type of observational unit per table

In [19]:
# Load movie titles
movie_cols = ['movie_id', 'title']
movies_path = f'{DATA_DIR}/movies.tbl'
movies = pd.read_csv(movies_path, sep='|', header=None, names=movie_cols, usecols=[0, 1], encoding='latin-1')
movies.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [20]:
# Load movie ratings
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_path = f'{DATA_DIR}/movie_ratings.tsv'
ratings = pd.read_csv(ratings_path, sep='\t', header=None, names=rating_cols)
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

Now if we want to know the title associated with a particular rating, we match up the rows of the two tables by `movie_id`.

SQL calls this "matching up" operation a **join**. Pandas has a method called "join," but it also has a more flexible method called **merge**.

In [23]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
movie_ratings=movies.merge(ratings)

In [24]:
print(movies.shape)
print(ratings.shape)
print(movie_ratings.shape)

(1682, 2)
(100000, 4)
(100000, 5)

Datasets are often stored in tidy format because that format is space-efficient, flexible, and conceptually clean. However, it may require you to do multiple joins to get all of the information you want for your model in one place.

### Selecting Columns to Merge On

In [25]:
# Create sample DataFrame
df1 = pd.DataFrame([['a', 1], ['b', 2], ['c', 3], ['d', 4]], columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4

In [26]:
# Create sample DataFrame
df2 = pd.DataFrame([['e', 2], ['f', 3]], columns=['letter', 'number'])
df2

  letter  number
0      e       2
1      f       3

In [27]:
# Create sample DataFrame
df3 = pd.DataFrame([['f', 3], ['g', 4]], columns=['character', 'number'])
df3

  character  number
0         f       3
1         g       4

I recommend opening a second view of this notebook so that you can keep `df1`, `df2`, and `df3` in view.

By default, `merge` matches up rows that have the same values for columns that are common between the two tables.

In [28]:
# Join `df2` to `df1` on all columns
df1.merge(df2)

Empty DataFrame
Columns: [letter, number]
Index: []

In this case, `df1` and `df2` both have "letter" and "number" columns, but none of their rows have the same values for both of those columns.

You can override this default behavior of `merge` by telling it exactly which columns to use.

In [29]:
# Join `df2` to `df1` on the "number" column
df1.merge(df2, on = ['number'])

  letter_x  number letter_y
0        b       2        e
1        c       3        f

Notice that `merge` adds suffixes (here "\_x" and "\_y") to the names of the columns from `df1` and `df2`, respectively, that are common between `df1` and `df2` but were not used in the join.

You can also tell it to match on columns with different names.

In [32]:
# Join `df3` to `df2` matching the "character" coulumn
# of `df3 to the "letter" column of `df2`.
df2.merge(df3, left_on=['letter'], right_on =['character'])

  letter  number_x character  number_y
0      f         3         f         3

You can also tell it to merge on the indices.

In [33]:
# Join `df2` to `df1` on their indices
df1.merge(df2, left_index = True, right_index = True)

  letter_x  number_x letter_y  number_y
0        a         1        e         2
1        b         2        f         3

### Join Types

You might have noticed that when we used `merge` above, we dropped rows from the original DataFrames that weren't matched. That kind of join is called an "inner join." You can also do an "other join", where rows that don't have a match are returned with missing values for the fields that would have come from the other table if there had been a match.

In [34]:
# Do an outer join of `df3` to `df2`
df2.merge(df3, on=['number'], how = 'outer')

  letter  number character
0      e       2       NaN
1      f       3         f
2    NaN       4         g

You can also do a "left merge" that returns all rows from the "left" DataFrame only regardless of whether they have a match or a "right merge" that does likewise for the "right" DataFrame.

In [35]:
# Join `df3` to `df2` on "number", keeping all rows from `df2`
# even if they don't have a match.
df2.merge(df3, on=['number'], how = 'left')

  letter  number character
0      e       2       NaN
1      f       3         f

In [36]:
# Join `df3` to `df2` on "number", keeping all rows from `df3`
# even if they don't have a match.
df2.merge(df3, on =['number'], how = 'right')

  letter  number character
0      f       3         f
1    NaN       4         g

![](../assets/images/join_types.png)

In [37]:
# Create some more realistic data, on stock prices
openprice = pd.DataFrame({'Symbol': ['AAPL', 'DHR', 'DAL', 'AMZN'], 'OpenPrice': [217.51, 96.54, 51.45, 1703.34]})
wkhigh = pd.DataFrame({'Symbol': ['DAL', 'AMZN', 'AAPL', 'DHR'], '52wkHigh': [60.79, 2050.49, 233.47, 110.11]})
stockname = pd.DataFrame({'Symbol': ['AMZN', 'DHR', 'DAL', 'AAPL'], 'Name': ['Amazon', 'Danaher', 'Delta Airlines', 'Apple']})

In [38]:
# Join the `openprice` and `wkhigh` dataframes together.
wkhigh.merge(openprice, on = ['Symbol'])

  Symbol  52wkHigh  OpenPrice
0    DAL     60.79      51.45
1   AMZN   2050.49    1703.34
2   AAPL    233.47     217.51
3    DHR    110.11      96.54

**Exercise (6 mins., in groups)**

- Why do you think the values in the "Symbol" column in the merge result are in the order that they are in?

- **BONUS:** Find a way to test your answer to the previous question.

- Join the `openprice` and `stockname` dataframes and inspect the result.

- Join all three dataframes together and inspect the result.

In [42]:
openprice.merge(stockname).merge(wkhigh)

  Symbol  OpenPrice            Name  52wkHigh
0   AAPL     217.51           Apple    233.47
1    DHR      96.54         Danaher    110.11
2    DAL      51.45  Delta Airlines     60.79
3   AMZN    1703.34          Amazon   2050.49

$\blacksquare$

## Sales Data Example

Here are the data dictionaries we'll be using for the following exercise:

<ul>
    <li><a href="https://www.sqldatadictionary.com/AdventureWorks2014/Production.Product.html">Production.Product</a></li>
    <li><a href="https://www.sqldatadictionary.com/AdventureWorks2014/Production.ProductSubcategory.html">Production.ProductSubcategory</a></li>
    <li><a href="https://www.sqldatadictionary.com/AdventureWorks2014/Sales.SalesOrderHeader.html">Sales.SalesOrderHeader</a></li>
    <li><a href="https://www.sqldatadictionary.com/AdventureWorks2014/Sales.SalesOrderDetail.html">Sales.SalesOrderDetail</a></li>
</ul>

In [43]:
# Load the data
product = pd.read_csv(f'{DATA_DIR}/Production.Product.csv', sep='\t')
product_subcategory = pd.read_csv(f'{DATA_DIR}/Production.ProductSubcategory.csv', sep='\t')
sales_header = pd.read_csv(f'{DATA_DIR}/Sales.SalesOrderHeader.csv', sep='\t', nrows=1000)
sales_detail = pd.read_csv(f'{DATA_DIR}/Sales.SalesOrderDetail.csv', sep='\t', nrows=1000)

In [45]:
print(product.head(), product_subcategory.head())

   ProductID                   Name ProductNumber  MakeFlag  \
0          1        Adjustable Race       AR-5381         0
1          2           Bearing Ball       BA-8327         0
2          3        BB Ball Bearing       BE-2349         1
3          4  Headset Ball Bearings       BE-2908         0
4        316                  Blade       BL-2036         1

   FinishedGoodsFlag Color  SafetyStockLevel  ReorderPoint  StandardCost  \
0                  0   NaN              1000           750           0.0
1                  0   NaN              1000           750           0.0
2                  0   NaN               800           600           0.0
3                  0   NaN               800           600           0.0
4                  0   NaN               800           600           0.0

   ListPrice  ... ProductLine Class Style  ProductSubcategoryID  \
0        0.0  ...         NaN   NaN   NaN                   NaN
1        0.0  ...         NaN   NaN   NaN                   NaN
2        0.0  ...         NaN   NaN   NaN                   NaN
3        0.0  ...         NaN   NaN   NaN                   NaN
4        0.0  ...         NaN   NaN   NaN                   NaN

   ProductModelID        SellStartDate SellEndDate DiscontinuedDate  \
0             NaN  2008-04-30 00:00:00         NaN              NaN
1             NaN  2008-04-30 00:00:00         NaN              NaN
2             NaN  2008-04-30 00:00:00         NaN              NaN
3             NaN  2008-04-30 00:00:00         NaN              NaN
4             NaN  2008-04-30 00:00:00         NaN              NaN

                                  rowguid                   ModifiedDate
0  {694215B7-08F7-4C0D-ACB1-D734BA44C0C8}  2014-02-08 10:01:36.827000000
1  {58AE3C20-4F3A-4749-A7D4-D568806CC537}  2014-02-08 10:01:36.827000000
2  {9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E}  2014-02-08 10:01:36.827000000
3  {ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B}  2014-02-08 10:01:36.827000000
4  {E73E9750-603B-4131-89F5-3DD15ED5FF80}  2014-02-08 10:01:36.827000000

[5 rows x 25 columns]    ProductSubcategoryID  ProductCategoryID             Name  \
0                     1                  1   Mountain Bikes
1                     2                  1       Road Bikes
2                     3                  1    Touring Bikes
3                     4                  2       Handlebars
4                     5                  2  Bottom Brackets

                                  rowguid         ModifiedDate
0  {2D364ADE-264A-433C-B092-4FCBF3804E01}  2008-04-30 00:00:00
1  {000310C0-BCC8-42C4-B0C3-45AE611AF06B}  2008-04-30 00:00:00
2  {02C5061D-ECDC-4274-B5F1-E91D76BC3F37}  2008-04-30 00:00:00
3  {3EF2C725-7135-4C85-9AE6-AE9A3BDD9283}  2008-04-30 00:00:00
4  {A9E54089-8A1E-4CF5-8646-E3801F685934}  2008-04-30 00:00:00

The [Production.ProductSubcategory data dictionary](https://www.sqldatadictionary.com/AdventureWorks2014/Production.ProductSubcategory.html) reports a "primary key" `ProductSubcategoryID`. The fact that this field is designated the "primary key" means that its values are unique within the table and it is considered the primary identifier for items in that table. In traditional relational databases, every table has exactly one primary key.

The [Production.Product data dictionary](https://www.sqldatadictionary.com/AdventureWorks2014/Production.Product.html) characerizes `ProductSubcategoryID` as a "foreign key." The fact that this field is designated a "foreign key" means that it corresponds to another table's primary key -- in this case, the primary key of `Production.ProductSubcategory`. This field is in the `Production.Product` table exactly so that we can join it to `Production.ProductSubcategory`. There are no restrictions on the number of foreign keys that a table can have.

In [49]:
# Join the Production.Product and Production.ProductSubcategory on `ProductSubcategoryID`.
product.merge(product_subcategory, how='left', on='ProductSubcategoryID', suffixes=('', '_sub'))

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate,ProductCategoryID,Name_sub,rowguid_sub,ModifiedDate_sub
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
5,317,LL Crankarm,CA-5965,0,0,Black,500,375,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{3C9D10B7-A6B2-4774-9963-C19DCEE72FEA},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
6,318,ML Crankarm,CA-6738,0,0,Black,500,375,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{EABB9A92-FA07-4EAB-8955-F0517B4A4CA7},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
7,319,HL Crankarm,CA-7457,0,0,Black,500,375,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{7D3FD384-4F29-484B-86FA-4206E276FE58},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
8,320,Chainring Bolts,CB-2903,0,0,Silver,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{7BE38E48-B7D6-4486-888E-F53C26735101},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
9,321,Chainring Nut,CN-6137,0,0,Silver,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{3314B1D7-EF69-4431-B6DD-DC75268BD5DF},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
10,322,Chainring,CR-7833,0,0,Black,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{F0AC2C4D-1A1F-4E3C-B4D9-68AEA0EC1CE4},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
11,323,Crown Race,CR-9981,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{51A32CA6-65A1-4C31-AF2B-D9E4F5D631D4},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
12,324,Chain Stays,CS-2812,1,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{FE0678ED-AEF2-4C58-A450-8151CC24DDD8},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
13,325,Decal 1,DC-8732,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{05CE123C-A402-478E-AE9B-75D7727AEAAD},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
14,326,Decal 2,DC-9824,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{A56851F9-1CD7-4E2F-8779-2E773E1B5209},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
15,327,Down Tube,DT-2377,1,0,NaN,800,600,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{1DAD47DD-E259-42B8-B8B4-15A0B7D21B2F},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
16,328,Mountain End Caps,EC-M092,1,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{6070B1EA-59B7-4F8B-950F-2BE07D00449D},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
17,329,Road End Caps,EC-R098,1,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{88399D13-719E-4545-81D6-F0650F372FA2},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
18,330,Touring End Caps,EC-T209,1,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{6903CE24-D0CE-4191-9198-4231DE37A929},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
19,331,Fork End,FE-3760,1,0,NaN,800,600,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{C91D602E-DA52-43D2-BD7E-EB110A9392B9},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
20,332,Freewheel,FH-2981,0,0,Silver,500,375,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{D864879A-E8B1-4F7B-BAFA-1F136089C2C8},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
21,341,Flat Washer 1,FW-1000,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{A3F2FA3A-22E1-43D8-A131-A9B89C32D8EA},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
22,342,Flat Washer 6,FW-1200,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{331ADDEC-E9B9-4A7E-9324-42069C2DCDC4},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
23,343,Flat Washer 2,FW-1400,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{84A3473E-AE26-4A21-81B9-60BB418A79B2},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
24,344,Flat Washer 9,FW-3400,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{0AE4CE60-5242-48F5-ADA1-3013FF45F969},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
25,345,Flat Washer 4,FW-3800,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{2C1C58B4-234C-4B3A-8C8E-84524AC05EEA},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
26,346,Flat Washer 3,FW-5160,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{590C2C3F-A8B6-42B5-9412-D655E37F0EAE},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
27,347,Flat Washer 8,FW-5800,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{1B73F5FE-AB85-49FC-99AD-0500CEBDA91D},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
28,348,Flat Washer 5,FW-7160,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{D182CF18-4DDF-429B-A0DF-DE1CFC92622D},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
29,349,Flat Washer 7,FW-9160,0,0,NaN,1000,750,0.0000,0.00,...,NaN,2008-04-30 00:00:00,NaN,NaN,{7E55F64D-EA3C-45FF-BE72-F7F7B9D61A79},2014-02-08 10:01:36.827000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,970,"Touring-2000 Blue, 46",BK-T44U-46,1,1,Blue,100,75,755.1508,1214.85,...,35.0,2013-05-30 00:00:00,NaN,NaN,{C0009006-715F-4B76-A05A-1A0D3ADFB49A},2014-02-08 10:01:36.827000000,1.0,Touring Bikes,{02C5061D-ECDC-4274-B5F1-E91D76BC3F37},2008-04-30 00:00:00
475,971,"Touring-2000 Blue, 50",BK-T44U-50,1,1,Blue,100,75,755.1508,1214.85,...,35.0,2013-05-30 00:00:00,NaN,NaN,{84ABDA8F-0007-4BCA-9A61-B2DEA58866C3},2014-02-08 10:01:36.827000000,1.0,Touring Bikes,{02C5061D-ECDC-4274-B5F1-E91D76BC3F37},2008-04-30 00:00:00
476,972,"Touring-2000 Blue, 54",BK-T44U-54,1,1,Blue,100,75,755.1508,1214.85,...,35.0,2013-05-30 00:00:00,NaN,NaN,{6DCFE2A3-3555-44E4-9116-6F6DBE448B8B},2014-02-08 10:01:36.827000000,1.0,Touring Bikes,{02C5061D-ECDC-4274-B5F1-E91D76BC3F37},2008-04-30 00:00:00
477,973,"Road-350-W Yellow, 40",BK-R79Y-40,1,1,Yellow,100,75,1082.5100,1700.99,...,27.0,2013-05-30 00:00:00,NaN,NaN,{237B16D9-53F2-4FD4-BEFE-48209E57AEC3},2014-02-08 10:01:36.827000000,1.0,Road Bikes,{000310C0-BCC8-42C4-B0C3-45AE611AF06B},2008-04-30 00:00:00
478,974,"Road-350-W Yellow, 42",BK-R79Y-42,1,1,Yellow,100,75,1082.5100,1700.99,...,27.0,2013-05-30 00:00:00,NaN,NaN,{80BD3F8B-42C7-43D8-91F5-9FB6175287AF},2014-02-08 10:01:36.827000000,1.0,Road Bikes,{000310C0-BCC8-42C4-B0C3-45AE611AF06B},2008-04-30 00:00:00
479,975,"Road-350-W Yellow, 44",BK-R79Y-44,1,1,Yellow,100,75,1082.5100,1700.99,...,27.0,2013-05-30 00:00:00,NaN,NaN,{0C61E8AF-003D-4E4B-B5B7-02F01A26BE26},2014-02-08 10:01:36.827000000,1.0,Road Bikes,{000310C0-BCC8-42C4-B0C3-45AE611AF06B},2008-04-30 00:00:00
480,976,"Road-350-W Yellow, 48",BK-R79Y-48,1,1,Yellow,100,75,1082.5100,1700.99,...,27.0,2013-05-30 00:00:00,NaN,NaN,{EC4284DC-85FA-44A8-89EC-77FC9B71720A},2014-02-08 10:01:36.827000000,1.0,Road Bikes,{000310C0-BCC8-42C4-B0C3-45AE611AF06B},2008-04-30 00:00:00
481,977,"Road-750 Black, 58",BK-R19B-58,1,1,Black,100,75,343.6496,539.99,...,31.0,2013-05-30 00:00:00,NaN,NaN,{87B81A1A-A5B5-43D2-A20D-0230800490B9},2014-02-08 10:01:36.827000000,1.0,Road Bikes,{000310C0-BCC8-42C4-B0C3-45AE611AF06B},2008-04-30 00:00:00
482,978,"Touring-3000 Blue, 44",BK-T18U-44,1,1,Blue,100,75,461.4448,742.35,...,36.0,2013-05-30 00:00:00,NaN,NaN,{4F638E15-2ED0-4193-90CE-47DA580E01DD},2014-02-08 10:01:36.827000000,1.0,Touring Bikes,{02C5061D-ECDC-4274-B5F1-E91D76BC3F37},2008-04-30 00:00:00
483,979,"Touring-3000 Blue, 50",BK-T18U-50,1,1,Blue,100,75,461.4448,742.35,...,36.0,2013-05-30 00:00:00,NaN,NaN,{DE305B62-88FC-465B-B23D-D8C0F7E6D361},2014-02-08 10:01:36.827000000,1.0,Touring Bikes,{02C5061D-ECDC-4274-B5F1-E91D76BC3F37},2008-04-30 00:00:00
484,980,"Mountain-400-W Silver, 38",BK-M38S-38,1,1,Silver,100,75,419.7784,769.49,...,22.0,2013-05-30 00:00:00,NaN,NaN,{7A927632-99A4-4F24-ADCE-0062D2D113D9},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
485,981,"Mountain-400-W Silver, 40",BK-M38S-40,1,1,Silver,100,75,419.7784,769.49,...,22.0,2013-05-30 00:00:00,NaN,NaN,{0A72791C-A984-4733-AE4E-2B4373CFD7CD},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
486,982,"Mountain-400-W Silver, 42",BK-M38S-42,1,1,Silver,100,75,419.7784,769.49,...,22.0,2013-05-30 00:00:00,NaN,NaN,{4EA4FE06-AAEA-42D4-A9D9-69F6A9A4A042},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
487,983,"Mountain-400-W Silver, 46",BK-M38S-46,1,1,Silver,100,75,419.7784,769.49,...,22.0,2013-05-30 00:00:00,NaN,NaN,{0B0C8EE4-FF2D-438E-9CAC-464783B86191},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
488,984,"Mountain-500 Silver, 40",BK-M18S-40,1,1,Silver,100,75,308.2179,564.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{B96C057B-6416-4851-8D59-BCB37C8E6E51},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
489,985,"Mountain-500 Silver, 42",BK-M18S-42,1,1,Silver,100,75,308.2179,564.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{B8D1B5D9-8A39-4097-A04A-56E95559B534},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
490,986,"Mountain-500 Silver, 44",BK-M18S-44,1,1,Silver,100,75,308.2179,564.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{E8CEC794-E8E2-4312-96A7-4832E573D3FC},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
491,987,"Mountain-500 Silver, 48",BK-M18S-48,1,1,Silver,100,75,308.2179,564.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{77EF419F-481F-40B9-BDB9-7E6678E550E3},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
492,988,"Mountain-500 Silver, 52",BK-M18S-52,1,1,Silver,100,75,308.2179,564.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{CAD60945-183E-4AB3-A70C-3F5BAC6BF134},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
493,989,"Mountain-500 Black, 40",BK-M18B-40,1,1,Black,100,75,294.5797,539.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{28287157-3F06-487B-8531-BEE8A37329E4},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
494,990,"Mountain-500 Black, 42",BK-M18B-42,1,1,Black,100,75,294.5797,539.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{F5752C9C-56BA-41A7-83FD-139DA28C15FA},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
495,991,"Mountain-500 Black, 44",BK-M18B-44,1,1,Black,100,75,294.5797,539.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{C7852127-2FB8-4959-B5A3-DE5A8D6445E4},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
496,992,"Mountain-500 Black, 48",BK-M18B-48,1,1,Black,100,75,294.5797,539.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{75752E26-A3B6-4264-9B06-F23A4FBDC5A7},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
497,993,"Mountain-500 Black, 52",BK-M18B-52,1,1,Black,100,75,294.5797,539.99,...,23.0,2013-05-30 00:00:00,NaN,NaN,{69EE3B55-E142-4E4F-AED8-AF02978FBE87},2014-02-08 10:01:36.827000000,1.0,Mountain Bikes,{2D364ADE-264A-433C-B092-4FCBF3804E01},2008-04-30 00:00:00
498,994,LL Bottom Bracket,BB-7421,1,1,NaN,500,375,23.9716,53.99,...,95.0,2013-05-30 00:00:00,NaN,NaN,{FA3C65CD-0A22-47E3-BDF6-53F1DC138C43},2014-02-08 10:01:36.827000000,2.0,Bottom Brackets,{A9E54089-8A1E-4CF5-8646-E3801F685934},2008-04-30 00:00:00
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000,2.0,Bottom Brackets,{A9E54089-8A1E-4CF5-8646-E3801F685934},2008-04-30 00:00:00
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000,2.0,Bottom Brackets,{A9E54089-8A1E-4CF5-8646-E3801F685934},2008-04-30 00:00:00
501,997,"Road-750 Black, 44",BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000,1.0,Road Bikes,{000310C0-BCC8-42C4-B0C3-45AE611AF06B},2008-04-30 00:00:00
502,998,"Road-750 Black, 48",BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000,1.0,Road Bikes,{000310C0-BCC8-42C4-B0C3-45AE611AF06B},2008-04-30 00:00:00
503,999,"Road-750 Black, 52",BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000,1.0,Road Bikes,{000310C0-BCC8-42C4-B0C3-45AE611AF06B},2008-04-30 00:00:00

**Exercise (5 mins., pair programming)**

- Left join `Sales.SalesOrderDetail` to `Sales.SalesOrderHeader` on the relevant primary/foreign key. (Use the data dictionaries to identify the key.)

In [50]:
sales_header.merge(sales_detail, how='left', on='SalesOrderID')

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid_y,ModifiedDate_y
0,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,1.0,4911-403C-98,1.0,776.0,1.0,2024.9940,0.0,2024.9940,{B207C96D-D9E6-402B-8470-2CC176C42283},2011-05-31 00:00:00
1,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,2.0,4911-403C-98,3.0,777.0,1.0,2024.9940,0.0,6074.9820,{7ABB600D-1E77-41BE-9FE5-B9142CFC08FA},2011-05-31 00:00:00
2,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,3.0,4911-403C-98,1.0,778.0,1.0,2024.9940,0.0,2024.9940,{475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F},2011-05-31 00:00:00
3,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,4.0,4911-403C-98,1.0,771.0,1.0,2039.9940,0.0,2039.9940,{04C4DE91-5815-45D6-8670-F462719FBCE3},2011-05-31 00:00:00
4,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,5.0,4911-403C-98,1.0,772.0,1.0,2039.9940,0.0,2039.9940,{5A74C7D2-E641-438E-A7AC-37BF23280301},2011-05-31 00:00:00
5,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,6.0,4911-403C-98,2.0,773.0,1.0,2039.9940,0.0,4079.9880,{CE472532-A4C0-45BA-816E-EEFD3FD848B3},2011-05-31 00:00:00
6,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,7.0,4911-403C-98,1.0,774.0,1.0,2039.9940,0.0,2039.9940,{80667840-F962-4EE3-96E0-AECA108E0D4F},2011-05-31 00:00:00
7,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,8.0,4911-403C-98,3.0,714.0,1.0,28.8404,0.0,86.5212,{E9D54907-E7B7-4969-80D9-76BA69F8A836},2011-05-31 00:00:00
8,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,9.0,4911-403C-98,1.0,716.0,1.0,28.8404,0.0,28.8404,{AA542630-BDCD-4CE5-89A0-C1BF82747725},2011-05-31 00:00:00
9,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,10.0,4911-403C-98,6.0,709.0,1.0,5.7000,0.0,34.2000,{AC769034-3C2F-495C-A5A7-3B71CDB25D4E},2011-05-31 00:00:00
10,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,11.0,4911-403C-98,2.0,712.0,1.0,5.1865,0.0,10.3730,{06A66921-6B9F-4199-A912-DDAFD383472B},2011-05-31 00:00:00
11,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,12.0,4911-403C-98,4.0,711.0,1.0,20.1865,0.0,80.7460,{0E371EE3-253E-4BB0-B813-83CF4224F972},2011-05-31 00:00:00
12,43660,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43660,PO18850127500,10-4020-000117,...,13.0,6431-4D57-83,1.0,762.0,1.0,419.4589,0.0,419.4589,{419A1302-AC7A-4044-97B2-66D9D14CD02E},2011-05-31 00:00:00
13,43660,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43660,PO18850127500,10-4020-000117,...,14.0,6431-4D57-83,1.0,758.0,1.0,874.7940,0.0,874.7940,{5D0B2B03-1D4C-4C34-9696-C14C58E7301C},2011-05-31 00:00:00
14,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,15.0,4E0A-4F89-AE,1.0,745.0,1.0,809.7600,0.0,809.7600,{EDE1759E-6733-4C7B-A43F-DC6F48002D8A},2011-05-31 00:00:00
15,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,16.0,4E0A-4F89-AE,1.0,743.0,1.0,714.7043,0.0,714.7043,{FE10BF09-D477-485B-9541-27AE8053A6D4},2011-05-31 00:00:00
16,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,17.0,4E0A-4F89-AE,2.0,747.0,1.0,714.7043,0.0,1429.4086,{B136852E-24C9-4006-8048-B14AEFE6C337},2011-05-31 00:00:00
17,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,18.0,4E0A-4F89-AE,4.0,712.0,1.0,5.1865,0.0,20.7460,{F0F410B6-BC93-4D77-B70D-E4E2465D98EE},2011-05-31 00:00:00
18,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,19.0,4E0A-4F89-AE,4.0,715.0,1.0,28.8404,0.0,115.3616,{AE4CDA7D-9B6E-4ABB-A391-E9E9DDB10125},2011-05-31 00:00:00
19,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,20.0,4E0A-4F89-AE,2.0,742.0,1.0,722.5949,0.0,1445.1898,{054A9D3B-A178-4656-B2B0-9B9BDDF1C345},2011-05-31 00:00:00
20,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,21.0,4E0A-4F89-AE,3.0,775.0,1.0,2024.9940,0.0,6074.9820,{8C342A15-8576-4581-AAC9-7BA3BBD8FD8B},2011-05-31 00:00:00
21,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,22.0,4E0A-4F89-AE,2.0,778.0,1.0,2024.9940,0.0,4049.9880,{B2760B75-3F1A-4DC4-A377-1051C03C8EB8},2011-05-31 00:00:00
22,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,23.0,4E0A-4F89-AE,2.0,711.0,1.0,20.1865,0.0,40.3730,{935A70B5-33AD-473D-921C-8D2C36F0D93E},2011-05-31 00:00:00
23,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,24.0,4E0A-4F89-AE,2.0,741.0,1.0,818.7000,0.0,1637.4000,{2F911593-E3B8-4ADF-B757-7242004FFB8E},2011-05-31 00:00:00
24,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,25.0,4E0A-4F89-AE,4.0,776.0,1.0,2024.9940,0.0,8099.9760,{E8E15B60-3A73-4507-9368-A4FB27B6EE0B},2011-05-31 00:00:00
25,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,26.0,4E0A-4F89-AE,2.0,773.0,1.0,2039.9940,0.0,4079.9880,{4373070F-4EBF-4C50-9DB0-96BFBE937383},2011-05-31 00:00:00
26,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,27.0,4E0A-4F89-AE,2.0,716.0,1.0,28.8404,0.0,57.6808,{D87D5EDB-B899-4E31-B974-06617DBFFE08},2011-05-31 00:00:00
27,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,28.0,4E0A-4F89-AE,2.0,777.0,1.0,2024.9940,0.0,4049.9880,{C5762004-DE9E-4339-95E5-89CC8FFF873E},2011-05-31 00:00:00
28,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,29.0,4E0A-4F89-AE,5.0,708.0,1.0,20.1865,0.0,100.9325,{6C0D0601-76FF-441D-86D5-8343EB0063E7},2011-05-31 00:00:00
29,43662,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43662,PO18444174044,10-4020-000227,...,30.0,2E53-4802-85,3.0,764.0,1.0,419.4589,0.0,1258.3767,{2DFD4D76-E020-4B80-A0A5-6463D0C2DF73},2011-05-31 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1734,44629,8,2011-10-10 00:00:00,2011-10-22 00:00:00,2011-10-17 00:00:00,5,1,SO44629,NaN,10-4030-018209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1735,44630,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44630,NaN,10-4030-028765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1736,44631,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44631,NaN,10-4030-028629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1737,44632,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44632,NaN,10-4030-018196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1738,44633,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44633,NaN,10-4030-018203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1739,44634,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44634,NaN,10-4030-018213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,44635,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44635,NaN,10-4030-018218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1741,44636,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44636,NaN,10-4030-014705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1742,44637,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44637,NaN,10-4030-028644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1743,44638,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44638,NaN,10-4030-028651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1744,44639,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44639,NaN,10-4030-014617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1745,44640,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44640,NaN,10-4030-018246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1746,44641,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44641,NaN,10-4030-018255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1747,44642,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44642,NaN,10-4030-025567,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1748,44643,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44643,NaN,10-4030-012280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1749,44644,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44644,NaN,10-4030-012279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1750,44645,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44645,NaN,10-4030-011344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1751,44646,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44646,NaN,10-4030-029449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1752,44647,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44647,NaN,10-4030-028770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753,44648,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44648,NaN,10-4030-025916,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1754,44649,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44649,NaN,10-4030-025924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1755,44650,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44650,NaN,10-4030-011147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1756,44651,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44651,NaN,10-4030-014720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1757,44652,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44652,NaN,10-4030-028407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1758,44653,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44653,NaN,10-4030-020170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1759,44654,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44654,NaN,10-4030-028619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1760,44655,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44655,NaN,10-4030-011105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1761,44656,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44656,NaN,10-4030-018275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1762,44657,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44657,NaN,10-4030-011120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1763,44658,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44658,NaN,10-4030-018201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Left join `Sales.SalesOrderDetail` to `Sales.SalesOrderHeader` on the relevant primary/foreign key, and left join `Production.Product` to the result on the relevant primary/foreign key.

In [52]:
sales_header.merge(sales_detail, how='left', on='SalesOrderID').merge(product, how='left', on='ProductID')

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{02935111-A546-4C6D-941F-BE12D42C158E},2014-02-08 10:01:36.827000000
1,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{7920BC3B-8FD4-4610-93D2-E693A66B6474},2014-02-08 10:01:36.827000000
2,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{1B486300-7E64-4C5D-A9BA-A8368E20C5A0},2014-02-08 10:01:36.827000000
3,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{CA74B54E-FC30-4464-8B83-019BFD1B2DBB},2014-02-08 10:01:36.827000000
4,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{BBFFF5A5-4BDC-49A9-A5AD-7584ADFFE808},2014-02-08 10:01:36.827000000
5,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{155FD77E-D6D6-43F0-8A5B-4A8305EB45CD},2014-02-08 10:01:36.827000000
6,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{BA5551DF-C9EE-4B43-B3CA-8C19D0F9384D},2014-02-08 10:01:36.827000000
7,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,S,NaN,U,21.0,11.0,2011-05-31 00:00:00,NaN,NaN,{6A290063-A0CF-432A-8110-2EA0FDA14308},2014-02-08 10:01:36.827000000
8,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,S,NaN,U,21.0,11.0,2011-05-31 00:00:00,NaN,NaN,{6EC47EC9-C041-4DDA-B686-2125D539CE9B},2014-02-08 10:01:36.827000000
9,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,M,NaN,U,23.0,18.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{18F95F47-1540-4E02-8F1F-CC1BCB6828D0},2014-02-08 10:01:36.827000000
10,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,S,NaN,U,19.0,2.0,2011-05-31 00:00:00,NaN,NaN,{B9EDE243-A6F4-4629-B1D4-FFE1AEDC6DE7},2014-02-08 10:01:36.827000000
11,43659,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,S,NaN,NaN,31.0,33.0,2011-05-31 00:00:00,NaN,NaN,{FD7C0858-4179-48C2-865B-ABD5DFC7BC1D},2014-02-08 10:01:36.827000000
12,43660,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43660,PO18850127500,10-4020-000117,...,R,L,U,2.0,30.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{F247AAAE-12E3-4048-A37B-CCE4A8999E81},2014-02-08 10:01:36.827000000
13,43660,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43660,PO18850127500,10-4020-000117,...,R,M,U,2.0,28.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{040A4B7D-4060-4507-AA92-7508B434797E},2014-02-08 10:01:36.827000000
14,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{1FEE0573-6676-432D-8D6D-41BA9FAA5865},2014-02-08 10:01:36.827000000
15,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,NaN,NaN,{27DB28F8-5AB8-4091-B94E-6F1B2D8E7AB0},2014-02-08 10:01:36.827000000
16,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,NaN,NaN,{0C548577-3171-4CE2-B9A0-1ED526849DE8},2014-02-08 10:01:36.827000000
17,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,S,NaN,U,19.0,2.0,2011-05-31 00:00:00,NaN,NaN,{B9EDE243-A6F4-4629-B1D4-FFE1AEDC6DE7},2014-02-08 10:01:36.827000000
18,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,S,NaN,U,21.0,11.0,2011-05-31 00:00:00,NaN,NaN,{34CF5EF5-C077-4EA0-914A-084814D5CBD5},2014-02-08 10:01:36.827000000
19,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,NaN,NaN,{A189D86E-D923-4336-B13D-A5DB6F426540},2014-02-08 10:01:36.827000000
20,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{DEA33347-FCD3-4346-AA0F-068CD6B3AD06},2014-02-08 10:01:36.827000000
21,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{1B486300-7E64-4C5D-A9BA-A8368E20C5A0},2014-02-08 10:01:36.827000000
22,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,S,NaN,NaN,31.0,33.0,2011-05-31 00:00:00,NaN,NaN,{FD7C0858-4179-48C2-865B-ABD5DFC7BC1D},2014-02-08 10:01:36.827000000
23,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{B181EC1F-CA20-4724-B2EB-15F3E455142E},2014-02-08 10:01:36.827000000
24,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{02935111-A546-4C6D-941F-BE12D42C158E},2014-02-08 10:01:36.827000000
25,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{155FD77E-D6D6-43F0-8A5B-4A8305EB45CD},2014-02-08 10:01:36.827000000
26,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,S,NaN,U,21.0,11.0,2011-05-31 00:00:00,NaN,NaN,{6EC47EC9-C041-4DDA-B686-2125D539CE9B},2014-02-08 10:01:36.827000000
27,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{7920BC3B-8FD4-4610-93D2-E693A66B6474},2014-02-08 10:01:36.827000000
28,43661,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,S,NaN,NaN,31.0,33.0,2011-05-31 00:00:00,NaN,NaN,{A25A44FB-C2DE-4268-958F-110B8D7621E2},2014-02-08 10:01:36.827000000
29,43662,8,2011-05-31 00:00:00,2011-06-12 00:00:00,2011-06-07 00:00:00,5,0,SO43662,PO18444174044,10-4020-000227,...,R,L,U,2.0,30.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{07CFE1EA-8A37-4D2A-835F-BC8D37E564AF},2014-02-08 10:01:36.827000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1734,44629,8,2011-10-10 00:00:00,2011-10-22 00:00:00,2011-10-17 00:00:00,5,1,SO44629,NaN,10-4030-018209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1735,44630,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44630,NaN,10-4030-028765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1736,44631,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44631,NaN,10-4030-028629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1737,44632,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44632,NaN,10-4030-018196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1738,44633,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44633,NaN,10-4030-018203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1739,44634,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44634,NaN,10-4030-018213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,44635,8,2011-10-11 00:00:00,2011-10-23 00:00:00,2011-10-18 00:00:00,5,1,SO44635,NaN,10-4030-018218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1741,44636,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44636,NaN,10-4030-014705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1742,44637,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44637,NaN,10-4030-028644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1743,44638,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44638,NaN,10-4030-028651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1744,44639,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44639,NaN,10-4030-014617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1745,44640,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44640,NaN,10-4030-018246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1746,44641,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44641,NaN,10-4030-018255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1747,44642,8,2011-10-12 00:00:00,2011-10-24 00:00:00,2011-10-19 00:00:00,5,1,SO44642,NaN,10-4030-025567,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1748,44643,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44643,NaN,10-4030-012280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1749,44644,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44644,NaN,10-4030-012279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1750,44645,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44645,NaN,10-4030-011344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1751,44646,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44646,NaN,10-4030-029449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1752,44647,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44647,NaN,10-4030-028770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753,44648,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44648,NaN,10-4030-025916,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1754,44649,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44649,NaN,10-4030-025924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1755,44650,8,2011-10-13 00:00:00,2011-10-25 00:00:00,2011-10-20 00:00:00,5,1,SO44650,NaN,10-4030-011147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1756,44651,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44651,NaN,10-4030-014720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1757,44652,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44652,NaN,10-4030-028407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1758,44653,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44653,NaN,10-4030-020170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1759,44654,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44654,NaN,10-4030-028619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1760,44655,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44655,NaN,10-4030-011105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1761,44656,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44656,NaN,10-4030-018275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1762,44657,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44657,NaN,10-4030-011120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1763,44658,8,2011-10-14 00:00:00,2011-10-26 00:00:00,2011-10-21 00:00:00,5,1,SO44658,NaN,10-4030-018201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

$\blacksquare$